<!-- <carousel>
  <slide>
    <img src="assets/images/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/slider2.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/slider3.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel> -->

<div>
  <div class="main-picture">
    <img src="https://images.unsplash.com/photo-1465877783223-4eba513e27c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNob2UlMjBzdG9yZXxlbnwwfHwwfHw%3D&w=1000&q=80"
    alt="first slide" class="img-fluid"  style="display: block; width: 100%;">
    <div class="centered">
      <p>Give your feet the <b>beauty</b> treatment that only <b>brand</b> new shoes can give.</p>
    </div>
  </div>
</div>
<div  class="container pb-5">
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Shopper</h1>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <h3>"A great place to find all things you need + Delivery"</h3>
  </div>
</section>

<div class="row">
  <div class="col-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="image position-relative" style="cursor: pointer;">
        <img src="assets/images/feature1.jpg" alt="" class="img-fluid bg-info" style="height: 500px;">
      </div>

      <div class="card-body d-flex flex-column">
        <a routerLink="/shop">
          <h4>Filter</h4>
          <p>Helps you <b>Narrow</b> in on the specific
            product you're looking for and find products
            you might be interested in based on certain
            features (e.g. Brand, Type)</p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="image position-relative" style="cursor: pointer;">
        <img src="assets/images/feature2.jpg" alt="" class="img-fluid bg-info w-100" style="height: 500px;">
      </div>

      <div class="card-body d-flex flex-column">
        <a routerLink="/shop">
          <h4>Search</h4>
          <p>
           <b>Better usability</b> , So you can find things more quickly
            Make products visible online so that they're easy to find and purchase</p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="image position-relative" style="cursor: pointer;">
        <img src="assets/images/feature3.jpg" alt="" class="img-fluid bg-info" style="height: 500px; width: 450px;">
      </div>

      <div class="card-body d-flex flex-column">
        <a routerLink="/shop">
          <h4>Sort</h4>
          <p>Determine what products should be put on <b>Top</b> or at the <b>End</b> end of the list,
            So that you can find the product you want in less time
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div style="background-color: #F7F7F7;">
  <div class="d-flex justify-content-center pt-5">
    <h1>Get What you want easily</h1> <br>

  </div>

  <div class="card-body d-flex justify-content-center">
    <p style="font-size: large;">An E-commerce platform that values trust <b>---</b> More than just a reliable e-commerce platform <b>---</b> Ensuring the best welfare of the buyers</p>
  </div>

  <div class="d-flex justify-content-center video">
    <video class="img-fluid bg-info pb-5" style="height: 500px; width: 980px;" controls
     src="assets/images/Sneakers Store.mp4"></video>
  </div>
</div>

<div class="d-flex justify-content-center mt-4 py-5">


  <div class="d-flex justify-content-center pr-4">
    <div style="width: 175px;height: 250px;background-color: #F7F7F7;">
      <h5 class="d-flex justify-content-center mt-5">Content</h5>
      <hr style="color: #B8662A;">
      <button type="button" class="btn btn-warning d-flex justify-content-center ml-4">View more</button>
    </div>
    <div style="width: 175px;height: 250px;">
      <img src="assets/images/shoeOptions2.png" style="width: 175px;height: 250px;" alt="">
    </div>
  </div>

  <div class="d-flex justify-content-center pr-4">
    <div style="width: 175px;height: 250px;background-color: #F7F7F7;">
      <h5 class="d-flex justify-content-center mt-5">Content</h5>
      <hr style="color: #B8662A;">
      <button type="button" class="btn btn-warning d-flex justify-content-center ml-4">View more</button>
    </div>
    <div style="width: 175px;height: 250px;">
      <img src="assets/images/shoeOptions.png" style="width: 175px;height: 250px;" alt="">
    </div>
  </div>

  <div class="d-flex justify-content-center pr-4">
    <div style="width: 175px;height: 250px;background-color: #F7F7F7;">
      <h5 class="d-flex justify-content-center mt-5">Content</h5>
      <hr style="color: #B8662A;">
      <button type="button" class="btn btn-warning d-flex justify-content-center ml-4">View more</button>
    </div>
    <div style="width: 175px;height: 250px;">
      <img src="assets/images/shoeOptions1.png" style="width: 175px;height: 250px;" alt="">
    </div>
  </div>

</div>


  <div style="background-color: #F7F7F7;height: 170px;margin-top: 5rem;">
    <div class="d-flex justify-content-center pt-4">
      <div class="pr-5">
        Copyright 2014 The-Shoe-Store. All rights reserved <br>
        <a href="">Terms of Service</a> | <a href="">Privacy</a>
      </div>
      <div class="d-flex justify-content-center pl-5">
        <div class="px-4">
          <ul style="list-style-type: none;">
            <li><b>Company</b></li>
            <li>About Us</li>
            <li>Meet The Team</li>
            <li>What We do</li>
            <li>Careers</li>
          </ul>
        </div>
        <div class="px-4">
          <ul style="list-style-type: none;">
            <li><b>Company</b></li>
            <li>About Us</li>
            <li>Meet The Team</li>
            <li>What We do</li>
            <li>Careers</li>
          </ul>
        </div>
        <div class="px-4">
          <ul style="list-style-type: none;">
            <li><b>Company</b></li>
            <li>About Us</li>
            <li>Meet The Team</li>
            <li>What We do</li>
            <li>Careers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

